{% extends 'base.html' %}
{% block title %}Eliminar Reloj{% endblock %}
{% block content %}
<h2 class="mb-4">¿Estás seguro de eliminar este reloj?</h2>
<p><strong>Modelo:</strong> {{ object.modelo }}</p>
<p><strong>Marca:</strong> {{ object.marca.nombre }}</p>
<p><strong>Precio:</strong> {{ object.precio|floatformat:2 }} COP</p>

<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Sí, eliminar</button>
  <a href="{% url 'producto-list' %}" class="btn btn-secondary ms-2">Cancelar</a>
</form>
{% endblock %}